body {
  background-color: #1c1b1f; /* bg 1 */
  /* background-color: #232428; bg 2 */
  font-family: "Lexend", sans-serif;
  /* font-family: "Urbanist", sans-serif; */
  color: #f6f6f6;

  min-height: 2000px;
}

.hero {
  padding-top: 30vh;
  min-height: 100vh;
}

.hero h1 {
  font-size: 4rem;
  text-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
}

.hero p {
  font-weight: 200;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn {
  color: #f6f6f6;
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  /* warna */
  background-color: #232428;
  position: relative;
  z-index: 1;
}

.btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: rgb(255, 183, 25);
  background: linear-gradient(90deg, rgba(255, 183, 25, 1) 0%, rgba(230, 23, 23, 1) 100%);

  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px -3px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.07);
  box-shadow: 0 0 100px 0 #f46d18;
  transform: scale(1.01);

  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.btn:hover::before {
  opacity: 1;
}

/* .about {
  background-color: #232428;
} */

.about p {
  text-align: justify;
  font-weight: 300;
}

.about .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 300px;
}

.about .card {
  position: relative;
  left: 0;
  width: 80px;
  border-radius: 2rem;
  height: 360px;
  overflow: hidden;
  background-color: #1c1b1f;
  transition: 0.4s ease-in-out;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  flex: 0.2;
}

.about img {
  height: 360px;
}

.about .card:hover {
  flex: 2;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 5px 8px rgb(0, 0, 0, 0.5);
}
