body {
  background-color: #1c1b1f; /* bg 1 */
  /* background-color: #232428; bg 2 */
  font-family: "Lexend", sans-serif;
  /* font-family: "Urbanist", sans-serif; */
  color: #f6f6f6;
  overflow-x: hidden;
}

::selection {
  background-color: #f6f6f6;
  color: #232428;
}

.hero .container {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 4rem;
  /* text-shadow: 0 5px 7px rgba(0, 0, 0, 0.5); */
  background: linear-gradient(45deg, rgba(255, 183, 25, 1) 0%, rgba(230, 23, 23, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-weight: 200;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn {
  color: #f6f6f6;
  font-family: "Lexend", sans-serif;
  font-weight: 200;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  /* warna */
  background-color: #232428;
  position: relative;
  z-index: 1;
}

.btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background: rgb(255, 183, 25);
  background: linear-gradient(90deg, rgba(255, 183, 25, 1) 0%, rgba(230, 23, 23, 1) 100%);

  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), inset 0px -2px 0px rgba(255, 255, 255, 0.2), 0 0 0 4px rgba(255, 255, 255, 0.01), 0 0 100px 0 #f46d18;

  transform: scale(1.01);

  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.btn:hover::before {
  opacity: 1;
}

.about {
  background-color: #232428;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.about h2 {
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.about p {
  text-align: justify;
  font-weight: 300;
}

.about .gallery {
  padding-left: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 400px;
}

.about .card {
  position: relative;
  left: 0;
  width: 80px;
  border-radius: 2rem;
  height: 360px;
  overflow: hidden;
  background-color: #1c1b1f;
  transition: 0.4s ease-in-out;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  flex: 0.2;
}

.about img {
  height: 360px;
}

.about .card:hover {
  flex: 2;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 5px 8px rgb(0, 0, 0, 0.5);
}

.education {
  min-height: 100vh;
  display: grid;
  align-items: center;
}

.education .col-lg-4 {
  display: grid;
  justify-content: center;
}

.education h2 {
  font-size: 2rem;
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.education .card {
  background-color: #1c1b1f;
  overflow: hidden;
  height: 360px;
  width: 260px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.education .gradasi {
  position: absolute;
  height: 360px;
  width: 260px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  opacity: 0;
  transition: 0.4s;
}

.education .card:hover .gradasi {
  opacity: 1;
}

.education .card img {
  /* height: 360px; */
  width: 260px;
}

.education .card figcaption {
  color: #f6f6f6;
  font-size: 1.4rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  transform: translate(0, -55px);
}

.education .card p {
  color: #f6f6f6;
  opacity: 0;
}

.education .card .school {
  transform: translate(0, -10px);
}

.education .card .year {
  transform: translate(0, -30px);
}

.education .card,
.education .card img,
.education .card figcaption,
.education .card .school,
.education .card .year {
  transition: 0.4s;
}

.education .card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.education .card:hover img {
  transform: scale(1.1);
  filter: brightness(0.7) grayscale(0.1);
}

.education .card:hover figcaption {
  transform: translate(0, -120px);
  font-size: 1rem;
  opacity: 0;
}

.education .card:hover .school {
  transform: translate(0, -105px);
  font-size: 1.5rem;
  opacity: 1;
}

.education .card:hover .year {
  transform: translate(0, -120px);
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 1;
}

.interest {
  min-height: 100vh;
  background-color: #232428;
  display: grid;
  align-items: center;
}

input {
  display: none;
}

.carousel {
  overflow: hidden;
  position: relative;
  height: 400px;
  width: 700px;
  background-color: #1c1b1f;
  border-radius: 1rem;
  padding: 1rem;
}

.carousel-container {
  display: grid;
  justify-content: center;
}

.carousel-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 300%;
  height: 100%;
  transition: 0.5s;
}

.carousel-content h3 {
  width: 100%;
  object-fit: cover;
}

.carousel-controls {
  height: 100%;
  justify-content: flex-end;
}

.carousel-controls {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.interest .dots {
  display: grid;
  align-items: center;
  justify-content: center;
}

.interest label {
  height: 80px;
  width: 80px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-shadow: 1px 1px 2px #232428;
}

.interest .dots button {
  height: 80px;
  width: 80px;
  border: 0 solid black;
  background-color: #1c1b1f;
  border-radius: 50%;

  color: #f6f6f6;
  font-size: 1.3rem;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);

  background-color: #1c1b1f;
  position: relative;
  z-index: 1;

  display: grid;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 50%;
  transition: 0.5s;
}

.interest .dots button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: rgb(255, 183, 25);
  background: linear-gradient(90deg, rgba(255, 183, 25, 1) 0%, rgba(230, 23, 23, 1) 100%);

  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4), inset 0px -2px 0px rgba(255, 255, 255, 0.2), 0 0 0 4px rgba(255, 255, 255, 0.01), 0 0 20px 0 rgba(244, 109, 24, 0.8), 0 0 100px 0 #f46d18;

  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.interest .dots button:hover::before {
  opacity: 1;
}

.interest .dots button:active {
  background: #f46d18;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 0px rgba(255, 255, 255, 0.1), 0 0 0 3px rgba(255, 255, 255, 0.01);
  transform: translate(1px, 3px) scale(0.95);
}

.interest .dots button:focus {
  background: #f46d18;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2), inset 0px -1px 0px rgba(255, 255, 255, 0.1), 0 0 0 3px rgba(255, 255, 255, 0.01);
  transform: translate(1px, 3px) scale(0.95);
}

input:nth-child(1):checked ~ .carousel-content {
  translate: 0;
}
input:nth-child(2):checked ~ .carousel-content {
  translate: -700px;
}
input:nth-child(3):checked ~ .carousel-content {
  translate: -1400px;
}

.vertical span {
  font-size: 3rem;
  font-weight: 450;
  display: block;
  text-align: center;
}

.contact {
  min-height: 400px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.contact h2 {
  font-weight: 500;
}

.contact p {
  font-weight: 200;
}

.contact .social-icons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  justify-content: center;
}

.contact .social-icons a {
  /* height: 20px;
  width: 20px;
  background-color: #f46d18; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}

.contact .icon svg {
  fill: url(#MyGradient);
  transition: 0.4s;
}

.contact .icon svg:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 70px rgb(244 109 24));
}

.contact .icon > :not(:hover) {
  opacity: 0.5;
}

.page-gradient {
  height: 10px;
  width: 100vw;
  /* background: rgb(28, 27, 31);
  background: linear-gradient(180deg, rgba(28, 27, 31, 1) 0%, rgba(246, 246, 246, 1) 100%); */
}

footer {
  background-color: #f6f6f6;
  color: #1c1b1f;
}

footer p {
  margin: 0;
  padding: 10px;
  letter-spacing: 2px;
}

footer p a {
  color: #1c1b1f;
  text-decoration: none;
}
